<h1>Data Analytics Project</h1>

<h2> United Kingdom Road Accident Data Analysis</h2>
<h3> Inclusive years : 2019 - 2022</h3>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import f_oneway
import warnings
warnings.filterwarnings('ignore')

In [2]:
accident = pd.read_csv('dataset\\accident_data.csv')

In [3]:
accident

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
0,200701BS64157,Serious,05/06/2019,51.506187,Darkness - lights lit,Kensington and Chelsea,-0.209082,1,2,Dry,Single carriageway,Urban,Fine no high winds,Car
1,200701BS65737,Serious,02/07/2019,51.495029,Daylight,Kensington and Chelsea,-0.173647,1,2,Wet or damp,Single carriageway,Urban,Raining no high winds,Car
2,200701BS66127,Serious,26/08/2019,51.517715,Darkness - lighting unknown,Kensington and Chelsea,-0.210215,1,3,Dry,NaN,Urban,NaN,Taxi/Private hire car
3,200701BS66128,Serious,16/08/2019,51.495478,Daylight,Kensington and Chelsea,-0.202731,1,4,Dry,Single carriageway,Urban,Fine no high winds,Bus or coach (17 or more pass seats)
4,200701BS66837,Slight,03/09/2019,51.488576,Darkness - lights lit,Kensington and Chelsea,-0.192487,1,2,Dry,NaN,Urban,NaN,Other vehicle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660674,201091NM01760,Slight,18/02/2022,57.374005,Daylight,Highland,-3.467828,2,1,Dry,Single carriageway,Rural,Fine no high winds,Car
660675,201091NM01881,Slight,21/02/2022,57.232273,Darkness - no lighting,Highland,-3.809281,1,1,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660676,201091NM01935,Slight,23/02/2022,57.585044,Daylight,Highland,-3.862727,1,3,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660677,201091NM01964,Serious,23/02/2022,57.214898,Darkness - no lighting,Highland,-3.823997,1,2,Wet or damp,Single carriageway,Rural,Fine no high winds,Motorcycle over 500cc
660678,201091NM02142,Serious,28/02/2022,57.575210,Daylight,Highland,-3.895673,1,1,Wet or damp,Dual carriageway,Rural,Snowing no high winds,Car

<h1> Data Preparation </h1>

In [4]:
accident.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660679 entries, 0 to 660678
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Index                    660679 non-null  object
 1   Accident_Severity        660679 non-null  object
 2   Accident Date            660679 non-null  object
 3   Latitude                 660654 non-null  float64
 4   Light_Conditions         660679 non-null  object
 5   District Area            660679 non-null  object
 6   Longitude                660653 non-null  float64
 7   Number_of_Casualties     660679 non-null  int64
 8   Number_of_Vehicles       660679 non-null  int64
 9   Road_Surface_Conditions  659953 non-null  object
 10  Road_Type                656159 non-null  object
 11  Urban_or_Rural_Area      660664 non-null  object
 12  Weather_Conditions       646551 non-null  object
 13  Vehicle_Type             660679 non-null  object
dtypes: float64(2), int64(2), object(10)
memory usage: 70.6+ MB

In [5]:
accident.dtypes

Index                       object
Accident_Severity           object
Accident Date               object
Latitude                   float64
Light_Conditions            object
District Area               object
Longitude                  float64
Number_of_Casualties         int64
Number_of_Vehicles           int64
Road_Surface_Conditions     object
Road_Type                   object
Urban_or_Rural_Area         object
Weather_Conditions          object
Vehicle_Type                object
dtype: object

In [6]:
#accident['Accident_Severity'] = accident['Accident_Severity'].astype('category')

In [7]:
accident['Accident_Severity'].value_counts ()

Accident_Severity
Slight     563801
Serious     88217
Fatal        8661
Name: count, dtype: int64

<h1>Converting Object to Date Time Data Type</h1>

In [8]:
accident['Accident Date'] = pd.to_datetime(accident['Accident Date'], dayfirst = True, errors = 'coerce')

In [9]:
accident['Accident Date']

0        2019-06-05
1        2019-07-02
2        2019-08-26
3        2019-08-16
4        2019-09-03
            ...
660674   2022-02-18
660675   2022-02-21
660676   2022-02-23
660677   2022-02-23
660678   2022-02-28
Name: Accident Date, Length: 660679, dtype: datetime64[ns]

<h1>CLEARING NULL VALUES</h1>

In [10]:
accident.isnull().sum()

Index                          0
Accident_Severity              0
Accident Date                  0
Latitude                      25
Light_Conditions               0
District Area                  0
Longitude                     26
Number_of_Casualties           0
Number_of_Vehicles             0
Road_Surface_Conditions      726
Road_Type                   4520
Urban_or_Rural_Area           15
Weather_Conditions         14128
Vehicle_Type                   0
dtype: int64

In [11]:
accident['Latitude'] = accident['Latitude'].fillna(accident['Latitude'].mode()[0])
accident['Longitude'] = accident['Longitude'].fillna(accident['Longitude'].mode()[0])
accident['Road_Surface_Conditions'] = accident['Road_Surface_Conditions'].fillna(accident['Road_Surface_Conditions'].mode()[0])
accident['Road_Type'] = accident['Road_Type'].fillna(accident['Road_Type'].mode()[0])
accident['Urban_or_Rural_Area'] = accident['Urban_or_Rural_Area'].fillna(accident['Urban_or_Rural_Area'].mode()[0])
accident['Weather_Conditions'] = accident['Weather_Conditions'].fillna(accident['Weather_Conditions'].mode()[0])

In [12]:
accident.isnull().sum()

Index                      0
Accident_Severity          0
Accident Date              0
Latitude                   0
Light_Conditions           0
District Area              0
Longitude                  0
Number_of_Casualties       0
Number_of_Vehicles         0
Road_Surface_Conditions    0
Road_Type                  0
Urban_or_Rural_Area        0
Weather_Conditions         0
Vehicle_Type               0
dtype: int64

<h1>Extracting date information using pandas date time</h1>

In [13]:
accident['Year'] = accident['Accident Date'].dt.year
accident['Month'] = accident['Accident Date'].dt.month
accident['Day'] = accident['Accident Date'].dt.day
accident['DayOfWeek'] = accident['Accident Date'].dt.dayofweek

<h1>ADJUSTING DATA TYPES</h1>

In [14]:
accident.dtypes

Index                              object
Accident_Severity                  object
Accident Date              datetime64[ns]
Latitude                          float64
Light_Conditions                   object
District Area                      object
Longitude                         float64
Number_of_Casualties                int64
Number_of_Vehicles                  int64
Road_Surface_Conditions            object
Road_Type                          object
Urban_or_Rural_Area                object
Weather_Conditions                 object
Vehicle_Type                       object
Year                                int32
Month                               int32
Day                                 int32
DayOfWeek                           int32
dtype: object

In [15]:
 accident['Accident_Severity'] = accident['Accident_Severity'].astype('category' )
 accident['Latitude'] = accident['Latitude'].astype('category' )
 accident['Longitude'] = accident['Longitude'].astype('category' )
 accident['Light_Conditions'] = accident['Light_Conditions'].astype('category' )
 accident['District Area'] = accident['District Area'].astype('category' )
 accident['Road_Surface_Conditions'] = accident['Road_Surface_Conditions'].astype('category' )
 accident['Road_Type'] = accident['Road_Type'].astype('category' )
 accident['Urban_or_Rural_Area'] = accident['Urban_or_Rural_Area'].astype('category' )
 accident['Weather_Conditions'] = accident['Weather_Conditions'].astype('category' )
 accident['Vehicle_Type'] = accident['Vehicle_Type'].astype('category' )

In [16]:
accident.dtypes

Index                              object
Accident_Severity                category
Accident Date              datetime64[ns]
Latitude                         category
Light_Conditions                 category
District Area                    category
Longitude                        category
Number_of_Casualties                int64
Number_of_Vehicles                  int64
Road_Surface_Conditions          category
Road_Type                        category
Urban_or_Rural_Area              category
Weather_Conditions               category
Vehicle_Type                     category
Year                                int32
Month                               int32
Day                                 int32
DayOfWeek                           int32
dtype: object

In [17]:
accident

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type,Year,Month,Day,DayOfWeek
0,200701BS64157,Serious,2019-06-05,51.506187,Darkness - lights lit,Kensington and Chelsea,-0.209082,1,2,Dry,Single carriageway,Urban,Fine no high winds,Car,2019,6,5,2
1,200701BS65737,Serious,2019-07-02,51.495029,Daylight,Kensington and Chelsea,-0.173647,1,2,Wet or damp,Single carriageway,Urban,Raining no high winds,Car,2019,7,2,1
2,200701BS66127,Serious,2019-08-26,51.517715,Darkness - lighting unknown,Kensington and Chelsea,-0.210215,1,3,Dry,Single carriageway,Urban,Fine no high winds,Taxi/Private hire car,2019,8,26,0
3,200701BS66128,Serious,2019-08-16,51.495478,Daylight,Kensington and Chelsea,-0.202731,1,4,Dry,Single carriageway,Urban,Fine no high winds,Bus or coach (17 or more pass seats),2019,8,16,4
4,200701BS66837,Slight,2019-09-03,51.488576,Darkness - lights lit,Kensington and Chelsea,-0.192487,1,2,Dry,Single carriageway,Urban,Fine no high winds,Other vehicle,2019,9,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660674,201091NM01760,Slight,2022-02-18,57.374005,Daylight,Highland,-3.467828,2,1,Dry,Single carriageway,Rural,Fine no high winds,Car,2022,2,18,4
660675,201091NM01881,Slight,2022-02-21,57.232273,Darkness - no lighting,Highland,-3.809281,1,1,Frost or ice,Single carriageway,Rural,Fine no high winds,Car,2022,2,21,0
660676,201091NM01935,Slight,2022-02-23,57.585044,Daylight,Highland,-3.862727,1,3,Frost or ice,Single carriageway,Rural,Fine no high winds,Car,2022,2,23,2
660677,201091NM01964,Serious,2022-02-23,57.214898,Darkness - no lighting,Highland,-3.823997,1,2,Wet or damp,Single carriageway,Rural,Fine no high winds,Motorcycle over 500cc,2022,2,23,2
660678,201091NM02142,Serious,2022-02-28,57.575210,Daylight,Highland,-3.895673,1,1,Wet or damp,Dual carriageway,Rural,Snowing no high winds,Car,2022,2,28,0

<h1>UNIVARIATE</h1>

<h1>1. Average Number of Vehicles Involved in Accidents</h1>

In [18]:
np.round(accident['Number_of_Vehicles'].mean()*100)

np.float64(183.0)

<h4>INSIGHT: In average 183.0 is the number of vehicles involved in accidents</h4>

<h1>2. Most common weather condition during accidents</h1>

In [19]:
accident['Weather_Conditions'].value_counts()

Weather_Conditions
Fine no high winds       535013
Raining no high winds     79696
Other                     17150
Raining + high winds       9615
Fine + high winds          8554
Snowing no high winds      6238
Fog or mist                3528
Snowing + high winds        885
Name: count, dtype: int64

<h4>INSIGHT: The most common weather condition during accidents is Fine on high winds.</h4>

<h1>3. Urban vs. Rural area accident percentage</h1>

In [20]:
accident['Urban_or_Rural_Area'].value_counts() * 100

Urban_or_Rural_Area
Urban          42167800
Rural          23899000
Unallocated        1100
Name: count, dtype: int64

<h4>INSIGHT: It shows that urban is an accident prone area.</h4>

<h1>4. Most accidents occur during light condition </h1>

In [21]:
accident['Light_Conditions'].mode()[0]

'Daylight'

<h4>INSIGHT: In conclusion most accidents occur in Daylight under light condition.</h4>

<h1>5. Total number of accident in 2019</h1>

In [22]:
df_2019 = accident[accident['Year'] == 2019]

In [23]:
print(f"INSIGHT 5: The total number of accident in 2019 is {df_2019['Light_Conditions'].value_counts().sum()}")

INSIGHT 5: The total number of accident in 2019 is 182115

<h1>6. Most Common Accident Severity</h1>

In [24]:
accident['Accident_Severity'].mode()[0]

'Slight'

<h4>INSIGHT: Slight is the most common accident severity in the dataset.</h4>

<h1>BIVARIATE</h1>

<h1>7. The number of accidents by Light Conditions (2019).</h1>

In [25]:
light_accidents = df_2019.groupby('Light_Conditions').size()

In [26]:
light_accidents

Light_Conditions
Darkness - lighting unknown      1768
Darkness - lights lit           35769
Darkness - lights unlit           694
Darkness - no lighting          10842
Daylight                       133042
dtype: int64

<h4>INSIGHT: About 27% of accidents happened during 2019 due to light conditions. </h4>

<h1>8. The number of accidents by Road Type (2019).</h1>

In [27]:
road_accidents = df_2019.groupby('Road_Type').size()

In [28]:
road_accidents

Road_Type
Dual carriageway       28162
One way street          3813
Roundabout             11698
Single carriageway    136468
Slip road               1974
dtype: int64

<h4>INSIGHT: About 27% of accidents happened during 2019 due to road type. </h4>

<h1>9. Correlation between number of vehicles involved and number of casualties</h1>

In [29]:
vehicles_casualties = accident[['Number_of_Vehicles', 'Number_of_Casualties']].corr().iloc[0, 1]

In [30]:
vehicles_casualties

np.float64(0.22888886126926722)

<h4>INSIGHT: There is no correlation between number of vehicles and number of casualties </h4>

<h1>10. Number of accidents by urban/rural area and light conditions</h1>

In [31]:
urbanrural_light = accident.groupby(['Urban_or_Rural_Area', 'Light_Conditions']).size().unstack(fill_value=0)

In [32]:
urbanrural_light

Light_Conditions,Darkness - lighting unknown,Darkness - lights lit,Darkness - lights unlit,Darkness - no lighting,Daylight
Urban_or_Rural_Area,,,,,
Rural,2467,24695,961,35517,175350
Unallocated,0,2,0,0,9
Urban,4017,104638,1582,1920,309521

<h4>INSIGHT: Most accidents in rural(73.37%), urban(73.40%) and some unallocated places happened during broad daylight.</h4>

<h1>11. Accident trends by day of the week (2019)</h1>

In [33]:
acc_day = df_2019.groupby(df_2019['Accident Date'].dt.day_name()).size()

In [34]:
acc_day

Accident Date
Friday       27303
Monday       20386
Saturday     29262
Sunday       24686
Thursday     27300
Tuesday      26251
Wednesday    26927
dtype: int64

<h4>INSIGHT: Most accidents happened during saturdays(16.06%) in 2019. </h4>

<h1>12. Top 5 districts where accidents mostly happened.</h1>

In [35]:
district_casualties = accident.groupby('District Area')['Number_of_Casualties'].count().sort_values(ascending=False)

In [36]:
district_casualties

District Area
Birmingham            13491
Leeds                  8898
Manchester             6720
Bradford               6212
Sheffield              5710
                      ...
Berwick-upon-Tweed      153
Teesdale                142
Shetland Islands        133
Orkney Islands          117
Clackmannanshire         91
Name: Number_of_Casualties, Length: 422, dtype: int64

<h4>INSIGHT: Among all districts given within the record Sheffield, Bradford, Manchester, Leeds, and Birmingham accounts the most number of accident records.</h4>

<h1>13. Total casualties by vehicle type (2019)</h1>

In [37]:
vehicle_casualties = df_2019.groupby('Vehicle_Type')['Number_of_Casualties'].sum().sort_values(ascending=False)

In [38]:
vehicle_casualties

Vehicle_Type
Car                                      177845
Bus or coach (17 or more pass seats)      13989
Van / Goods 3.5 tonnes mgw or under       12636
Motorcycle over 500cc                     10505
Goods 7.5 tonnes mgw and over              8551
Motorcycle 125cc and under                 5770
Taxi/Private hire car                      5685
Motorcycle over 125cc and up to 500cc      3265
Motorcycle 50cc and under                  2838
Goods over 3.5t. and under 7.5t            2786
Other vehicle                              2115
Agricultural vehicle                        862
Minibus (8 - 16 passenger seats)            840
Pedal cycle                                  91
Ridden horse                                  2
Data missing or out of range                  0
Name: Number_of_Casualties, dtype: int64

<h4>INSIGHT: Based from all the recorded vehicles involved in different vehicular accidents, Car(71.77%) accounts the most number of casualties based from the given record.</h4>

<h1>MULTIVARIATE</h1>

<h1>14. Do Urban Areas Have More Multi-Vehicle Collisions in Bad Weather?.</h1>

In [39]:
accident[(accident['Urban_or_Rural_Area'] == 'Urban') & (accident['Weather_Conditions'] != 'Clear')]['Number_of_Vehicles'].mean()

np.float64(1.811384516147392)

<h4> INSIGHT: Urban accidents in bad weather involve more vehicles on average, likely due to poor visibility </h4>

<h1>15. Average casualties by severity and road type</h1>

In [40]:
severity_road = accident.groupby(['Accident_Severity', 'Road_Type'])['Number_of_Casualties'].sum().sort_values(ascending=False)

In [41]:
severity_road

Accident_Severity  Road_Type
Slight             Single carriageway    552381
                   Dual carriageway      124084
Serious            Single carriageway    102606
Slight             Roundabout             51217
Serious            Dual carriageway       19195
Slight             One way street         14023
Fatal              Single carriageway     12423
Slight             Slip road               8941
Serious            Roundabout              4674
Fatal              Dual carriageway        3598
Serious            One way street          2028
                   Slip road                936
Fatal              Roundabout               194
                   Slip road                147
                   One way street           121
Name: Number_of_Casualties, dtype: int64

<h4>INSIGHT: Based from all the recorded road type involved in different vehicular accidents, Single carriageway(61.61%) accounts the most number of casualties, while Slight is the severity of the accident.</h4>

<h1>16. Are Trucks and Buses Involved in More Severe Accidents on Highways?</h1>

In [42]:
filtered_data = accident[(accident['Vehicle_Type'].str.contains('Truck|Bus', case=False, na=False)) & (accident['Road_Type'] == 'Highway')]['Accident_Severity']

In [43]:
filtered_data

Series([], Name: Accident_Severity, dtype: category
Categories (3, object): ['Fatal', 'Serious', 'Slight'])

<h4>INSIGHT: based from the results almost fatal and serious accidents involved trucks. </h4>

<h1>17. Casualty rates by road type and urban/rural area</h1>

In [44]:
road_urban = accident.groupby(['Road_Type', 'Urban_or_Rural_Area'])['Number_of_Casualties'].sum().sort_values(ascending=False)

In [45]:
road_urban

Road_Type           Urban_or_Rural_Area
Single carriageway  Urban                  417765
                    Rural                  249634
Dual carriageway    Rural                   76017
                    Urban                   70859
Roundabout          Urban                   35973
                    Rural                   20111
One way street      Urban                   14712
Slip road           Rural                    6293
                    Urban                    3731
One way street      Rural                    1460
Single carriageway  Unallocated                11
Roundabout          Unallocated                 1
Dual carriageway    Unallocated                 1
One way street      Unallocated                 0
Slip road           Unallocated                 0
Name: Number_of_Casualties, dtype: int64

<h4>INSIGHT: Based from all the recorded road type involved in different vehicular accidents, Single carriageway(46.59%) accounts the most number of casualties from the urban area. </h4>

<h1>18. Average vehicles involved by road surface and accident severity</h1>

In [46]:
road_severity = accident.groupby(['Road_Surface_Conditions', 'Accident_Severity'])['Number_of_Vehicles'].sum().sort_values(ascending=False)

In [47]:
road_severity

Road_Surface_Conditions  Accident_Severity
Dry                      Slight               711482
Wet or damp              Slight               297270
Dry                      Serious              104128
Wet or damp              Serious               39656
Frost or ice             Slight                26907
Dry                      Fatal                 10448
Snow                     Slight                 9313
Wet or damp              Fatal                  4593
Frost or ice             Serious                3122
Flood over 3cm. deep     Slight                 1366
Snow                     Serious                 920
Frost or ice             Fatal                   339
Flood over 3cm. deep     Serious                 231
Snow                     Fatal                    56
Flood over 3cm. deep     Fatal                    41
Name: Number_of_Vehicles, dtype: int64

<h4>INSIGHT: The average vehicles involved by road surface conditions and accident severity, Dry surface and Slight severity accounts the most numer of casualty. </h4>

<h1>19. Casualties by day of week and light conditions (2019)</h1>

In [48]:
day_light = df_2019.groupby([df_2019['Accident Date'].dt.day_name(), 'Light_Conditions'])['Number_of_Casualties'].sum().sort_values(ascending=False)

In [49]:
day_light

Accident Date  Light_Conditions
Saturday       Daylight                       28078
Thursday       Daylight                       27211
Friday         Daylight                       26789
Wednesday      Daylight                       26678
Tuesday        Daylight                       26080
Sunday         Daylight                       23765
Monday         Daylight                       20001
Sunday         Darkness - lights lit           8308
Saturday       Darkness - lights lit           8247
Monday         Darkness - lights lit           7219
Tuesday        Darkness - lights lit           6529
Friday         Darkness - lights lit           6435
Thursday       Darkness - lights lit           6280
Wednesday      Darkness - lights lit           6147
Saturday       Darkness - no lighting          2766
Sunday         Darkness - no lighting          2589
Monday         Darkness - no lighting          2552
Friday         Darkness - no lighting          2412
Thursday       Darkness - no lighting          2197
Wednesday      Darkness - no lighting          2185
Tuesday        Darkness - no lighting          2074
Saturday       Darkness - lighting unknown      382
Sunday         Darkness - lighting unknown      353
Monday         Darkness - lighting unknown      341
Wednesday      Darkness - lighting unknown      315
Friday         Darkness - lighting unknown      310
Thursday       Darkness - lighting unknown      309
Tuesday        Darkness - lighting unknown      296
Saturday       Darkness - lights unlit          163
Sunday         Darkness - lights unlit          149
Tuesday        Darkness - lights unlit          138
Friday         Darkness - lights unlit          134
Thursday       Darkness - lights unlit          131
Monday         Darkness - lights unlit          111
Wednesday      Darkness - lights unlit          106
Name: Number_of_Casualties, dtype: int64

<h4>INSIGHT: Based from the recorded list most accident happened during saturday influenced by daylight conditions.  </h4>

<h1>20. Correlation between vehicles, casualties, and road surface conditions</h1>

In [50]:
vehicles_casualties = accident[['Number_of_Vehicles', 'Number_of_Casualties']].corr()

In [51]:
vehicles_casualties

                      Number_of_Vehicles  Number_of_Casualties
Number_of_Vehicles              1.000000              0.228889
Number_of_Casualties            0.228889              1.000000

<h4>INSIGHT: There is a positive correlation between the number of the vehicles and the number of the casualties, suggesting that most of the accidents happen due to the increasing number of vehicles.</h4>